<template>
  <div class="content">
    <div class="form">
      <input class="input" type="text" v-model="nombre">
      <button class="button is-primary" @click="enviar">Enviar</button>
    </div>
    <hr/>
    <ol type="1">
      <li v-for="asistente in asistentes" :key="asistente">
        {{ asistente }}
      </li>
    </ol>
  </div>
</template>
<script>
export default {
  methods: {
    enviar() {
      this.$store.dispatch('agregarAsistente', this.nombre)
      this.nombre = ''
    }
  },
  computed: {
    asistentes() {
      return this.$store.state.asistentes
    }
  }
}
</script>
