<template>
  <h2>
    Ultimo Asistente: {{ ultimoAsistente }}
  </h2>
</template>
<script>
export default {
  computed: {
    ultimoAsistente() {
      return this.$store.getters.obtenerElUltimoAsistente
    }
  }
}
</script>
