<template>
  <div class="formulario">
    <h3>Bienvenido {{ nombre }}</h3>

    <div v-if="!enviado">
      <input class="input" type="text" placeholder="Nombre" v-model="nombre">
      <input class="input" type="text" placeholder="Email" v-model="email">
    </div>

    <div class="notification is-primary" v-if="enviado">
      Hemos enviado un email a <strong>{{ email }}</strong> con las instrucciones a seguir.
    </div>

    <button v-if="enviado" class="button" @click="reset">Reset</button>
    <button v-if="!enviado" class="button is-primary" @click="enviar">Enviar</button>
  </div>
</template>

<script>
export default {
  data: () => ({
    nombre: '',
    email: '',
    enviado: false
  }),
  methods: {
    enviar() {
      // enviar formulario
      this.enviado = !this.enviado
    },
    reset() {
      this.enviado = false
      this.nombre = ''
      this.email = ''
    }
  }
}
</script>

<style scoped>
.formulario {
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}
input, button {
  margin: 1rem;
}
</style>
