<template>
  <div>
    <h5 v-if="esUnaPrueba">Esto es una prueba</h5>
    <h5 v-if="!esUnaPrueba">Esto NO es una prueba</h5>
  </div>
</template>

<script>
export default {
  data: () => ({
    esUnaPrueba: false
  })
}
</script>
