<template>
  <div>
    <h5>Asistentes: {{ cantidadDeAsistentes }}</h5>
    <button class="button is-large is-primary" @click="agregar">+1</button>
  </div>
</template>

<script>
export default {
  data: () => ({
    cantidadDeAsistentes: 0
  }),
  methods: {
    agregar() {
      this.cantidadDeAsistentes++
    }
  }
}
</script>
