<template>
  <div>
    <h5>Mensaje: {{ mensaje }}</h5>
    <input class="input" type="text" v-model="mensaje">
  </div>
</template>

<script>
export default {
  data: () => ({
    mensaje: ''
  })
}
</script>
