<template>
  <ol type="1">
    <li v-for="tema in temas" :key="tema">
      {{ tema }}
    </li>
  </ol>
</template>

<script>
export default {
  data: () => ({
    temas: ['tema1', 'tema2', 'temaN']
  })
}
</script>
