<template>
  <div content="content">
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <img src="@/assets/logo.png" alt="">
          <h1 class="title">Vuex</h1>
        </div>
      </div>
      <a class="hero-foot" href="https://vuex.vuejs.org/guide/">
        <h2>Documentación</h2>
      </a>
    </section>
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">States</h2>
          <img src="@/assets/vuex/vuex-state.png" alt="">
        </div>
      </div>
    </section>
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Problema</h2>
          <img src="@/assets/vuex/vuex-problem.png" alt="">
        </div>
      </div>
    </section>
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Solucion</h2>
          <img src="@/assets/vuex/vuex-solution.png" alt="">
        </div>
      </div>
    </section>
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Flujo</h2>
          <img src="@/assets/vuex/vuex-flow.png" alt="">
        </div>
      </div>
    </section>

    <ejemplo-store titulo="State">
      <img slot="store" src="@/assets/vuex/state-store.png" alt="">
      <div slot="codigo">
        <img src="@/assets/vuex/state-codigo1.png" alt="">
        <img src="@/assets/vuex/state-codigo2.png" alt="">
      </div>
      <state-ejemplo slot="resultado" />
    </ejemplo-store>

    <ejemplo-store titulo="Getter">
      <img slot="store" src="@/assets/vuex/getter-store.png" alt="">
      <div slot="codigo">
        <img src="@/assets/vuex/getter-codigo1.png" alt="">
        <img src="@/assets/vuex/getter-codigo2.png" alt="">
      </div>
      <getter-ejemplo slot="resultado" />
    </ejemplo-store>

    <ejemplo-store titulo="Action/Mutation">
      <img slot="store" src="@/assets/vuex/action-store.png" alt="">
      <img slot="codigo" src="@/assets/vuex/action-codigo.png" alt="">
      <action-ejemplo slot="resultado" />
    </ejemplo-store>
  </div>
</template>

<script>
import EjemploStore from '@/components/EjemploStore'
import StateEjemplo from '@/components/vuex/State'
import GetterEjemplo from '@/components/vuex/Getter'
import ActionEjemplo from '@/components/vuex/Action'

export default {
  components: {
    EjemploStore,
    StateEjemplo,
    GetterEjemplo,
    ActionEjemplo
  }
}
</script>

<style scoped>
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
</style>

