<template>
  <div content="content">
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <img src="@/assets/logo_bulma.png" alt="">
        </div>
      </div>
      <a class="hero-foot" href="https://bulma.io/documentation/overview/">
        <h2>Documentación</h2>
      </a>
    </section>

    <ejemplo titulo="MediaObject">
      <img slot="codigo" src="@/assets/bulma/media.png" alt="">
      <div slot="resultado">
        <media-ejemplo/>
      </div>
    </ejemplo>

    <ejemplo titulo="Modal">
      <img slot="codigo" src="@/assets/bulma/modal.png" alt="">
      <div slot="resultado">
        <modal-ejemplo/>
      </div>
    </ejemplo>
  </div>
</template>

<script>
import Ejemplo from '@/components/Ejemplo'
import MediaEjemplo from '@/components/bulma/MediaObject'
import ModalEjemplo from '@/components/bulma/Modal'

export default {
  components: {
    Ejemplo,
    MediaEjemplo,
    ModalEjemplo
  }
}
</script>

<style scoped>
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
</style>

