<template>
  <div content="content">
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <img src="@/assets/logo.png" alt="">
          <h1 class="title">Vue</h1>
        </div>
      </div>
      <a class="hero-foot" href="https://vuejs.org/v2/guide/syntax.html">
        <h2>Documentación</h2>
      </a>
    </section>

    <ejemplo titulo="Ejemplo">
      <div slot="codigo">
        <img src="@/assets/vue/vue-template.png" alt="">
        <img src="@/assets/vue/vue-script.png" alt="">
        <img src="@/assets/vue/vue-style.png" alt="">
      </div>
      <archivo-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Binding">
      <img slot="codigo" src="@/assets/vue/vue-binding.png" alt="">
      <binding-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Condicional">
      <img slot="codigo" src="@/assets/vue/vue-condicional.png" alt="">
      <condicional-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Input">
      <img slot="codigo" src="@/assets/vue/vue-input.png" alt="">
      <input-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Loop">
      <img slot="codigo" src="@/assets/vue/vue-loop.png" alt="">
      <loop-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Handler">
      <img slot="codigo" src="@/assets/vue/vue-handler.png" alt="">
      <handler-ejemplo slot="resultado"/>
    </ejemplo>

    <ejemplo titulo="Componentes">
      <div slot="codigo">
        <img slot="codigo" src="@/assets/vue/vue-componente.png" alt="">
        <img slot="codigo" src="@/assets/vue/vue-componentes.png" alt="">
      </div>
      <componentes-ejemplo slot="resultado" />
    </ejemplo>
  </div>
</template>

<script>
import Ejemplo from '@/components/Ejemplo'
import ArchivoEjemplo from '@/components/vue/Archivo'
import BindingEjemplo from '@/components/vue/Binding'
import CondicionalEjemplo from '@/components/vue/Condicional'
import InputEjemplo from '@/components/vue/Input'
import LoopEjemplo from '@/components/vue/Loop'
import HandlerEjemplo from '@/components/vue/Handler'
import ComponentesEjemplo from '@/components/vue/Componentes'
export default {
  components: {
    Ejemplo,
    ArchivoEjemplo,
    BindingEjemplo,
    CondicionalEjemplo,
    InputEjemplo,
    LoopEjemplo,
    HandlerEjemplo,
    ComponentesEjemplo
  }
}
</script>

<style scoped>
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
</style>
