<template>
  <div content="content">
    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <img src="@/assets/logo.png" alt="">
          <h1 class="title">Workshop</h1>
        </div>
      </div>
    </section>

    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Propuestas para el FLISoL</h2>
          <img src="@/assets/workshop/lista.png" alt="">
        </div>
      </div>
    </section>

    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Propuesta</h2>
          <img src="@/assets/workshop/item.png" alt="">
        </div>
      </div>
    </section>

    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Formulario</h2>
          <img src="@/assets/workshop/nueva.png" alt="">
        </div>
      </div>
    </section>

    <section class="hero is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">Detalle</h2>
          <img src="@/assets/workshop/detalle.png" alt="">
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Ejemplo from '@/components/Ejemplo'
import MediaEjemplo from '@/components/bulma/MediaObject'
import ModalEjemplo from '@/components/bulma/Modal'

export default {
  components: {
    Ejemplo,
    MediaEjemplo,
    ModalEjemplo
  }
}
</script>

<style scoped>
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
</style>

