<template>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="@/assets/logo.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>@mcaligares</strong>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
          Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
        </p>
      </div>
    </div>
    <div class="media-right">
      <button class="delete"></button>
    </div>
  </article>
</template>
