<template>
  <div>
    <button class="button is-primary" @click="modal = true">Modal</button>

    <div class="modal" :class="{ 'is-active': modal }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Titulo</p>
          <button class="delete" aria-label="close" @click="modal = false"></button>
        </header>
        <section class="modal-card-body">
          <h2>Contenido</h2>
        </section>
        <footer class="modal-card-foot">
          Pie de Modal
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    modal: false
  })
}
</script>
