<template>
  <div class="hero is-fullheight has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ titulo }}</h1>
        <div class="columns">
          <div class="column content">
            <h2>Store</h2>
            <hr/>
            <slot name="store"/>
          </div>
          <div class="column content">
            <h2>Código</h2>
            <hr/>
            <slot name="codigo"/>
          </div>
          <div class="column content">
            <h2>Resultado</h2>
            <hr/>
            <slot name="resultado"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Ejemplo',
  props: [ 'titulo' ]
}
</script>
