<template>
  <div id="app">
    <cabecera/>

    <div class="root">
    <router-view/>
    </div>
  </div>
</template>

<script>
import Cabecera from '@/components/Cabecera'
export default {
  name: 'app',
  components: { Cabecera }
}
</script>

<style>
@import '../node_modules/bulma/css/bulma.css';
.root {
  padding: 2rem;
}
</style>
